/*desktop*/
header
{
	width: 100%;
	height: 100px;
	padding-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .sac_logo
{
	width: 10%;
	height: 50px;
	display: flex;
	align-items: left;
	font-size: small;
}
header .sac_nav
{
	width: 400px;
	height: 50px;
	text-decoration: none;
	margin-right: 40px;
}
header .sac_nav ul
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	list-style: none;
}
header .sac_nav a
{
	margin-right: 50px;
	color: black;
	text-decoration: none;
}
header .sac_nav a:hover
{
	color: #0065FC;
	border-top: 2px #0065FC solid;
	
}
/*=========================================*/
/*=========================================*/

.elements_recherche
{
	width: 100%;
	height: auto;
	margin-left: 30px;
}
.elements_recherche .titres
{
	font-family: 'Raleway', sans-serif;
}
.elements_recherche .titres .bold
{
	font-size: 25px;
	font-weight: 900;
}
.elements_recherche .bare_recherche
{
	width: 100%;
    height: 50px;
    display: flex;
    align-items: center; 
}
.elements_recherche .bare_recherche .map_icon
{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #DEEBFF;
}
.elements_recherche .bare_recherche input
{
	width: 150px;
	height: 34px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	border: 2px solid #F2F2F2;
}
.elements_recherche .bare_recherche button
{
	width: 100px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #0065FC;
	color: #FFF;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.loupe
{
	width: 50px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #0065FC;
	color: #FFF;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0;
}
.elements_recherche .filtres
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.elements_recherche .filtres p
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.elements_recherche .filtres .liste 
{
	width: 80%;
	height: 50px;
	display: flex;
	align-items: center;
}
.elements_recherche .filtres .liste ul
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.elements_recherche .filtres .liste  li
{
	width: 250px;
	display: flex;
	align-items: center;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
}
.elements_recherche .filtres .liste li:hover
{
	background-color: #DEEBFF;
}
.elements_recherche .filtres .liste  li .filtres_icon
{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #DEEBFF;
	color: #0065FC;
}
.elements_recherche .filtres .liste  li a
{
	padding-left: 10px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #000;
}
.elements_recherche .informations
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.elements_recherche .informations .info_icone
{
	width: 20px;
	height: 20px;
	font-weight: 900;
	color: #0065FC;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #F2F2F2;
	border-radius: 20px;
}
.elements_recherche .informations p
{
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;
}
/*=========================================*/
/*=========================================*/

.sac_left
{
	display: inline-block;
    margin: 10px;
    background-color:  #F2F2F2;
    border: 0px black solid;
    border-radius: 20px;
}
.sac_left h2
{
	padding-left: 20px;
	font-family: 'Raleway', sans-serif;
}
.sac_left .sac_cartes
{
	display: flex;
	flex-wrap: wrap;
}
.sac_left .sac_cartes .carte
{
	width: 260px;
	height: 250px;
	border: 5px solid #FFF; 
	border-radius: 20px;
	background-color: #FFF;
	box-shadow: 10px 5px 5px #8d8d8d6b;
	margin: 20px;
}
.sac_left .sac_cartes .carte:hover
{
	transform: scale(1.05);
}
.sac_left .sac_cartes .carte img
{
	width: 100%;
	height: 130px;
	border-top-left-radius: 20px; 
	border-top-right-radius: 20px;
	object-fit: cover;

}
.sac_left .sac_cartes .carte .titre_carte
{
	font-weight: bold;
	padding-left: 10px;
}
.sac_left .sac_cartes .carte p
{
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;
}
.sac_left .sac_cartes .carte .star
{
	color: #0065FC;
	padding-left: 10px;
}
.sac_left .sac_cartes .carte .grey
{
	color: #F2F2F2;
}
.sac_left .display_more
{
	padding-left: 20px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #000;
	font-weight: 700;
}
.plus_populaire
{
	margin: 10px;
    background-color:  #F2F2F2;
    border: 0px black solid;
    border-radius: 20px;
    width: 32%;
}
.menu
{
	display: flex;
}
.sac_right h2 
{
	padding-left: 20px;
	font-family: 'Raleway', sans-serif;
}
.sac_right .icon
{
	position: relative;
	left: 270px;
	bottom: 45px;
	font-size: x-large;

}
.sac_right .sac_cartes
{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
.sac_right .carte
{
	width: 280px;
	height: 150px;
	display: flex;
	margin-bottom: 20px;
	flex-flow: column wrap;
	justify-content: space-around;
	border: 5px solid #FFF; 
	border-radius: 20px;
	background-color: #FFF;
	box-shadow: 10px 5px 5px #8d8d8d6b;
}
.sac_right .carte:hover
{
	transform: scale(1.05);
}
.sac_right .carte img
{
	width: 40%;
	height: 150px;
	border-top-left-radius: 20px; 
	border-bottom-left-radius: 20px; 
	object-fit: cover;
}
.sac_right .carte .titre_carte
{
    font-weight: bold;
}
.sac_right .carte  p
{
	font-family: 'Raleway', sans-serif;
}
.sac_right .carte .star
{
	color: #0065FC;
}
.sac_right .carte .grey
{
	color: #F2F2F2;
}
/*=========================================*/
/*=========================================*/
.tourismes
{
	width: 100%;
	height: 700px;
}
#tourismes h2
{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-left: 20px;
}
.bloc_card
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bloc_card .grand_bloc
{
    width: 280px;
    height: 550px;
    
}
.bloc_card .grand_bloc .card
{
    width: 280px;
    height: 550px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 5px 5px #4343437e;
}
.bloc_card .grand_bloc .card:hover
{
    transform: scale(1.05);
}
.bloc_card .grand_bloc .card img
{
    width: 100%;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.bloc_card .card p
{
    padding-left: 20px;
    font-weight: bold;
    font-family: Arial;
}
.bloc_card .petit_bloc
{
    width: 280px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bloc_card .petit_bloc .card
{
    width: 280px;
    height: 250px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 5px 5px #4343437e;
}
.bloc_card .petit_bloc .card:hover
{
    transform: scale(1.05);
}
.bloc_card .petit_bloc .card img
{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
/*=========================================*/
/*=========================================*/
footer .sac_footer
{
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 30px;
	background-color: #F2F2F2;
}

footer .sac_footer .info
{
	width: 20%;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
}
.no_warning
{
	display: none;
}

/*responsive tablette*/
@media all and (max-width: 768px)
{
	body
{
	width: 100%;
	position: relative;

}
	header
{
	width: 100%;
	height: auto;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
header .sac_logo
{
	width: 20%;
}
header .sac_nav a:hover
{
	border-bottom: 2px #0065FC solid;
	border-top: none;
}

.elements_recherche
{
	width: 100%;
	margin: 10px;
}
.elements_recherche .titres
{
	font-family: 'Raleway', sans-serif;
}
.elements_recherche .titres .bold
{
	font-size: 18px;
}
.elements_recherche .bare_recherche
{
	width: 100%;
    height: 50px;
}
.elements_recherche .bare_recherche .map_icon
{
	width: 40px;
	height: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #DEEBFF;
}
.elements_recherche .bare_recherche input
{
	width: 150px;
	height: 34px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	border: 2px solid #F2F2F2;
	margin-right: -15px;
}
.elements_recherche .bare_recherche button
{
	width: auto;
	background-color: #0065FC;
	color: #FFF;
	font-weight: bold;
	opacity: 1;
}
.loupe
{
	width: 50px;
	background-color: #0065FC;
	color: #FFF;
	font-weight: bold;
	opacity: 0;
}
.elements_recherche .filtres
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.elements_recherche .filtres p
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.elements_recherche .filtres .liste 
{
	width: 100%;
	height: auto;
}
.elements_recherche .filtres .liste ul
{
	width: auto;
	list-style: none;
	flex-direction: column;
	padding-left: 5px;
}
.elements_recherche .filtres .liste  li
{
	width: 500px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	margin-bottom: 15px;
}
.elements_recherche .filtres .liste li:hover
{
	background-color: #DEEBFF;
}
.elements_recherche .filtres .liste  li .filtres_icon
{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	background-color: #DEEBFF;
	color: #0065FC;
}
.elements_recherche .filtres .liste  li a
{
	padding-left: 40px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #000;
}
.elements_recherche .informations
{
    width: 100%;
    height: auto;
    
}
.elements_recherche .informations .info_icone
{
	width: 20px;
	height: auto;
	font-weight: 900;
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 20px;
}
.elements_recherche .informations p
{
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
	
/*=========================================*/
/*=========================================*/

.menu
{
	display: flex;
	flex-direction: column-reverse;
}
.sac_left
{
	width: 100%;
}
.sac_left .sac_cartes
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
	.sac_left .sac_cartes .carte
{
	width: 100%;
	border: 5px solid #FFF; 
	border-radius: 20px;
	background-color: #FFF;
	box-shadow: 10px 5px 5px #8d8d8d6b;
	
}

.plus_populaire
{
    width: 100%;
	
}

.sac_right .carte
{
	width: 95%;
	height: 150px;
}

.sac_right .carte img
{
	width: 50%;
}

/*=========================================*/
/*=========================================*/
.tourismes
{
	width: 80%;
	height: auto;
}
.tourismes h2
{
    padding-left: 30px;
    font-size: 16px;
}
.bloc_card
{
	width: 100%;
    display: flex;
	flex-direction: column;
}
.bloc_card .grand_bloc
{
    width: 100%;
    height: auto;

    
}
.bloc_card .grand_bloc .card
{
    width: 100%;
    height: 320px;
	margin-top: 20px;
}

.bloc_card .grand_bloc .card img
{
    width: 100%;
    height: 250px;
}
.bloc_card .petit_bloc
{
    width: 100%;
    height: auto;
}
.bloc_card .petit_bloc .card
{
    width: 100%;
    height: 250px;
    margin-top: 20px;
}



/*=========================================*/
/*=========================================*/

footer .sac_footer 
{
	width: 100%;
	height: auto;
	margin-left: 10px;
	text-align: center;
}
footer .sac_footer .info
{
	width: 100%;
	padding-left: 20px;
}

/* responsive  mobile*/
@media all and (max-width: 425px)
{
	body
{
	width: 100%;

}
	
	header
{
	width: 70%;
	height: auto;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
header .sac_logo
{
	width: 20%;
}

header .sac_nav a:hover
{
	width: auto;
	border-bottom: 2px #0065FC solid;
	border-top: none;
	margin-left: 50px;
}

.elements_recherche
{
	width: 100%;
	margin: 10px;
}
.elements_recherche .titres
{
	font-family: 'Raleway', sans-serif;
}
.elements_recherche .titres .bold
{
	font-size: 18px;
}
.elements_recherche .bare_recherche
{
	width: 100%;
    height: 50px;
}
.elements_recherche .bare_recherche .map_icon
{
	width: 40px;
	height: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #DEEBFF;
}
.elements_recherche .bare_recherche input
{
	width: 150px;
	height: 34px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	border: 2px solid #F2F2F2;
	margin-right: -15px;
}
.elements_recherche .bare_recherche button
{
	width: 1px;
	background-color: #0065FC;
	color: #FFF;
	font-weight: bold;
	opacity: 0;
}
.loupe
{
	width: 50px;
	background-color: #0065FC;
	color: #FFF;
	font-weight: bold;
	opacity: 1;
}
.elements_recherche .filtres
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.elements_recherche .filtres p
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.elements_recherche .filtres .liste 
{
	width: 100%;
	height: auto;
}
.elements_recherche .filtres .liste ul
{
	width: auto;
	list-style: none;
	flex-direction: column;
	padding-left: 5px;
}
.elements_recherche .filtres .liste  li
{
	width: 400px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	margin-bottom: 15px;
}
.elements_recherche .filtres .liste li:hover
{
	background-color: #DEEBFF;
}
.elements_recherche .filtres .liste  li .filtres_icon
{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	background-color: #DEEBFF;
	color: #0065FC;
}
.elements_recherche .filtres .liste  li a
{
	padding-left: 10px;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #000;
}
.elements_recherche .informations
{
    width: 100%;
    height: auto;
    
}
.elements_recherche .informations .info_icone
{
	width: 20px;
	height: auto;
	font-weight: 900;
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 20px;
}
.elements_recherche .informations p
{
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
	
/*=========================================*/
/*=========================================*/

.menu
{
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
}
.sac_left
{
	width: 100%;
	margin-left: -15px;
	background-color: #FFF;
}
.sac_left .sac_cartes
{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.sac_left .sac_cartes .carte
{
	width: 100%;
}
.logements
{
	width: 100%;
	margin: 5px;
}

.plus_populaire
{
    width: 100%;
	
}

.sac_right .carte
{
	width: 100%;
	height: 150px;
}

.sac_right .carte img
{
	width: 50%;
}

/*=========================================*/
/*=========================================*/
.tourismes
{
	width: 100%;
	height: auto;
}
.tourismes h2
{
    padding-left: 30px;
}
.bloc_card
{
	width: 100%;
    display: flex;
	flex-direction: column;
	
}
.bloc_card .grand_bloc
{
    width: 100%;
    height: auto;

    
}
.bloc_card .grand_bloc .card
{
    width: 100%;
    height: 320px;
	margin-top: 20px;
}

.bloc_card .grand_bloc .card img
{
    width: 100%;
    height: 250px;
}
.bloc_card .petit_bloc
{
    width: 100%;
    height: auto;
}
.bloc_card .petit_bloc .card
{
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

/*=========================================*/
/*=========================================*/

footer .sac_footer
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	margin-top: 20px;

}


